@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./fonts/Inter-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root{
--color-Green: hsl(75, 94%, 57%);
--color-white: hsl(0, 0%, 100%);
--color-Grey-700: hsl(0, 0%, 20%);
--color-Grey-800: hsl(0, 0%, 12%);
--color-Grey-900: hsl(0, 0%, 8%);

--font-family: "Inter" , sans-serif;
}

body{
    background-color: var(--color-Grey-900);
}

main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.block_ID{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    padding: 2.25rem;
    width: 23.75rem;
    height: 37.813rem;
    background: var(--color-Grey-800);
}
 .ID{
    width: 280px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .avatar-jessica{
    width: 5rem;
    border-radius: 100%;
 }

 .name{
    margin: 23px 0 0 0;
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--color-white);
 }
 .location{
    margin:15px 0 0 0;
    font-family: var(--font-family);
    font-weight: 600;
    font-size:  0.9rem;
    line-height: 150%;
    color: var(--color-Green);
 }

 .description{
    margin: 25px 0 20px 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size:  0.9rem;
    line-height: 150%;
    color: var(--color-white);
 }

 .social_links{
   margin: 0;
   padding-inline-start: 0px;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
 }

 .social_links a{
    text-decoration: none;
    cursor: pointer;
    display: block;
    text-align: center;
    box-sizing: border-box;
    padding: 0.9rem;
    margin: 0 0 13px 0;
    width: 100%;
    height: 3rem;
    border-radius: 8px;
    background-color: var(--color-Grey-700);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 0.9rem;
    color: var(--color-white);
 }

 .social_links a:hover{
   color: black;
   background-color: var(--color-Green);
 }

.attribution { 
    font-size: 0.688rem; 
    text-align: center; 
    color:var(--color-white)
}
.attribution a {
     color:var(--color-Green)
    }